# Ignore everything by default
*

# Allow directories so we can re-include files inside
!*/

# Keep this file
!.gitignore

# Allow docs and their contents
!docs/
!docs/**

# Allow specific file patterns
!*.bdf.*
!metadata.*
!*.md

# Allow specific metadata files
!collection.json
!battery.json
!person.json
!data_download.json
!dataset.json